@import url('https://fonts.googleapis.com/css?family=Open+Sans|Quicksand');
.titlebar .name {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em;
  padding: 12px;
}

.top-panel .text {
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 4em;
  text-align: center;
}

.top-panel {
  background: #00a7ff;
  background: -webkit-gradient(linear, left top, left bottom, from(#00baff), to(#009cff));
  background: linear-gradient(to bottom, #00baff 0%, #009cff 100%);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 160px;
}

.titlebar {
  float: left;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  height: 3em;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

::-webkit-scrollbar {
  display: none;
}

.titlebar a {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 1em;
  text-decoration: none;
  padding: 13px;
  -webkit-transition: 0.2s background;
  transition: 0.2s background;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.titlebar a:hover, .titlebar a:focus {
  background: rgba(255, 255, 255, 0.2);
  outline: none;
}

.titlebar a:active {
  background: rgba(255, 255, 255, 0.4);
}

.page-content {
  font-family: 'Open Sans', sans-serif;
  color: black;
  background: #dbdbdb;
  position: fixed;
  width: calc(100% - 100px);
  height: calc(100% - 260px);
  left: 0;
  top: 160px;
  overflow-y: auto;
  padding: 50px;
}

a.project {
  padding: 10px;
  border-radius: 10px;
  background: #eeeeee;
  -webkit-box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: black;
}
